<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
       
    </head>
    <body>
        <div class= "header">
        <h1>{{title}}</h1>
        </div>
        <div class="main-content">
                <br>
                <form id="registerForm" method ="post" action = {{goto}}>
                    
                    <label for="name">Name</label><br>
                    <input type="text" name="name" id="name" required><br>
                    <label for="email">Admin Email</label><br>
                    <input type="email" name="email" id="email" required><br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password" minlength=6 required><br>
                    <label for="confirmpass">Confirm Password</label><br>
                    <input type="password" id="confirmpass" required><br><br>
                    <input type="submit" form="registerForm" id="submit" value="Submit">
                </form>
                
                <br>
        </div>
        
     <script src="/js/confirmpass.js" ></script>
   <!-- <div><script src="/js/face.js"></script></div> -->
    
    </body>
</html>
