<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
        <script rel="javascript" src="/js/reload_on_back.js"></script>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="icon" href="/img/title-logo.png">
        <title>Insight</title>
    </head>
     <body>
      <div class="content">
       {{> header_teachers }}
        <div class="main-content">
            
        </div>
      </div>
      <script>
        let tests = {{{tests}}}
      </script>
      <script src = "/js/testcards.js"></script>
      <script defer src="/js/buttons.js"></script>
      <link rel = "stylesheet" href = "/css/testcards.css"
     </body>
</html>