<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
        <script rel="javascript" src="/js/reload_on_back.js"></script>
        <link rel="stylesheet" href="/css/common.css">
        <title>Insight</title>
    </head>
     <body>
      <div class="content">
       {{> header_teachers }}
        <div class="main-content">
        </div>
      </div>
      <script defer src="/js/buttons.js"></script>
     </body>
</html>