<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
      <title>Dashboard</title>
    </head>
     <body>
       <h1>DashBoard</h1>
       <div>
       <i class="fas fa-user"></i>
       <span>{{name}}</span>
       </div><br>
       <div>
       <form action="/{{type}}/logout" method='post'>
       <input type='submit' value='Logout'>
       </form>
       <br>
       <form action="/{{type}}/logoutAll" method='post'>
       <input type='submit' value='LogoutAll'>
       </form>
       </div>

       



     </body>

</html>