<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <title>Insight</title>
        <link rel="icon" href="/img/title-logo.png"> 
    </head>

    <body>
        <div class="content">
            <div class="main-content"> 
                <h3>Error {{status}}</h3>
                <h4>{{message}}</h4>
                <button class="button" href = "{{goto}}">{{destination}}</button>
            </div>
        </div>
        <script defer src="/js/buttons.js"> </script>
    </body>
</html>
