<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        <div class= "header">
            <h1>{{title}}</h1>
            <h2>{{subtitle}}</h2>    
        </div>
        <div class="main-content">
            <h3 class="intro-1">Select your Category</h3>
                <br>
                <br>
                <button  class = "s-btn"><a href="/students">:.    Student    .:</a></button>  
                <br>
                <br>
                <button class = "t-btn"><a href="/teachers">:.    Teacher    .:</a></button> 
                <br>
                <br>
                <br>
                <button class = "a-btn"><a href="/admins">:.    Admin    .:</a></button>  
        </div>
        
        
   <script src="/js/client.js"></script>
    
    </body>
</html>
