<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <style>
            
            .icon{
                background-image: url('/img/title-logo-face.png') ; 
                height:70px;
                width:70px;
                background-size:contain;
                background-repeat: no-repeat;
                display:table-cell;
                bottom:0px;
                margin-top: 20px;
            
            }
        </style>
        
        <title>Insight</title>
    </head>
    <body>
        <div class= "header">
            <div class='title' style='display:table'>
           <span class='icon'></span>
            <h1 style='display:table-cell;'> {{title}}</h1>
            </div>
            <h2>{{subtitle}}</h2>    
        </div>
        <div class="main-content">
            <h3 class="intro-1">Select your Category</h3>
                <br>
                <br>
                <button  class = "s-btn button" href="/students">Students</button>  
                <br>
                <br>
                <button class = "t-btn button" href="/teachers">Teachers</button>
        </div>
        
   <script src="/js/client.js"></script>
   <script defer src="/js/buttons.js"></script>
    
    </body>
</html>
