<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <style>
            .icon{
                background-image: url('/img/title-logo-face.png') ; 
                height:70px;
                width:70px;
                background-size:contain;
                background-repeat: no-repeat;
                display:table-cell;
                bottom:0px;
                margin-top: 20px;
            }
        </style>
        <title>Insight</title>
    </head>
    <body>
    <div class="content">
        <div class="main-content">
            <div class="face-level">
            <div class= "welcome">
                <img class="mainlogo" src="/img/title-logo-face.png"></img>
                <h1> {{title}}</h1>
                <h3>{{subtitle}}</h3>    
            </div>
            <h3 class="intro-1">Select your Category</h3>
            <button class = "s-btn button" href="/students">Student</button>  
            <button class = "t-btn button" href="/teachers">Teacher</button>
            </div>
        </div>     
        <script src="/js/client.js"></script>
        <script defer src="/js/buttons.js"></script>
    </div>
    </body>
</html>
