<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <script rel="javascript" src="/js/reload_on_back.js"></script>        
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        <div class="content">
            <div class="main-content">
                <div class="face-level">
                    <div class= "welcome">
                        <img class="mainlogo" src="/img/title-logo-face.png"></img>
                        <h1>{{title}}</h1>
                        <h3>{{subtitle}}</h3>    
                    </div>
                    <br>
                    <form id="loginForm" method ="POST" action = "{{goto}}">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" required><br>
                        <label for="password">Password</label><br>
                        <input type="password" name="password" required><br>
                        <button type="submit" form="loginForm">Login</button>
                    </form>       
                    <br>
                </div>
            </div>
        </div> 
    </body>
</html>
