<html>
    <head>
        <title>Insight</title>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="icon" href="/img/title-logo.png">
    </head>
    <body>
        <div class="content">
             {{> header_students }}
            <div class="main-content">
                <h3>Select a Test</h3>
                <div id ='testOptions'>
                    <form action={{goto}} method="get" id= 'testoptionform' >
                        <label><input type = 'radio' name = 'testchoice' value= {{subject}} required>Random Generated Test</label><br>
                        <button type ='submit'>Start Test</button>
                    </form>
                </div>
            </div>
        </div>
        <script> const test_list = {{{test_list}}} </script>
        <script src="/js/pretest.js"></script>
        <script defer src="/js/buttons.js"> </script>
    </body>
</html>