<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <title>Insight</title>
        <link rel="icon" href="/img/title-logo.png">
    </head>
    <body>
        <div class="content">
            {{> header_teachers }}
            <div class="main-content">
                {{> profile_partial}}                
            </div>
        </div>
        <script defer src="/js/buttons.js"></script>
    </body>
    </html>
</html>