<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        <div class= "header">
        <h1>{{title}}</h1>
        </div>
        <div class="main-content">
                <br>
                <form id="registerForm" method ="POST" action = "{{goto}}">
                    <label for="name">Name</label><br>
                    <input type="text" id="name"><br>
                    <label for="age">Age</label><br>
                    <input type="number" id="age"><br>
                    <label for="email">Email</label><br>
                    <input type="text" id="email"><br>
                    <label for="password">Password</label><br>
                    <input type="text" id="password"><br>
                    <button type="submit" form="registerForm" value="Submit">Submit</button>
                </form>
                
                <br>
        </div>
        
        
   <!-- <div><script src="/js/face.js"></script></div> -->
    
    </body>
</html>
