<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <style>
            td,th{
                padding:10px;
            }
            table,td,th{
                border:1px solid;
            }
        </style>        
        <title>Insight</title>
        <link rel="icon" href="/img/title-logo.png">
    </head>
    <body>
        <div class="content">
            {{> header_students }}
            <div class="main-content">
                <div class="generateResults"><div class = "result"></div></div>
                <br>
                <button id='streamrecommender' onclick="check()">Check Stream Recommendation</button>
                <div style="min-height: 20px;" id='streamMessage'></div>
            </div>
        </div>
        <script>
            const time_str={{{time}}}
            const marks= {{{marks}}}
            const marksOutOf={{{marksOutOf}}}
            const subjects = {{{subjects}}}
        </script>
        <script src="/js/results.js"></script>
        <script defer src="/js/buttons.js"></script>
    </body>
</html>
