<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
        <title>Results</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        <div class= "header">
            <h2>Results</h2>
        </div>
        <hr>
        <div class="generateResults">
           
            <div class = "result">
            {{time}}
            {{subcode}}
            {{marks}}
            </div>
        
        </div>
        
        

    
    </body>
</html>
