<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <script>
            var subject_code = {{conclusion}}
            var subject_key = {{{subject_key}}}
            var stream_sugg = subject_key[subject_code]
        </script>
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        <div class="content">
            {{> header_students}}
            <div class="main-content">
                <h3>Your Recommended Stream is:</h3>
                <h1 class = "announceStream"></h1>
                <br>
            </div>
        </div>
        <script>var stream = document.querySelector('.announceStream')
            stream.innerHTML=stream_sugg
        </script>
        <script defer src="/js/buttons.js"> </script>
    </body>
</html>
