<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        <div class= "header">
        <h1>{{title}}</h1>
        </div>
        <div class= "statusMessage">
            <h4>{{message}}</h4>
        </div>
        <br>
        <div class="main-content">
                
                <br>
                <br>
                <button  class = "logout-student-btn" >Logout</button> 
                <br>
        </div>
        
        
   <!-- <div><script src="/js/face.js"></script></div> -->
    
    </body>
</html>
