<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script rel="javascript" src="/js/reload_on_back.js"></script>
        <title>success</title>
        </head>
    <body>
        <div class="main-content"> 
            <!--{{>header}}-->
            <br>
            <h2>{{message}}</h2>
        </div>

        <!--<div>{{>footer}}</div>-->
    </body>
</html>
