<!DOCTYPE html>
<html>
    <head>
        <title>Insight</title>
        <link rel="icon" href="/img/title-logo.png">
         <link rel="stylesheet" href="/css/common.css">
        <script rel="javascript" src="/js/reload_on_back.js"></script>
    </head>
    <body>
        <div class="content">
            <div class="main-content">
                <h4>{{message}}</h4>  
                <button class="button" href= "{{goto}}">{{destination}}</button>
            </div>
        </div> 
        <script defer src="/js/buttons.js"> </script>
    </body>
</html>
