<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
        <script rel="javascript" src="/js/reload_on_back.js"></script>
        <link rel="stylesheet" href = "/css/common.css">
        <link rel="stylesheet" href = "/css/test_create.css">
        <link rel="icon" href="/img/title-logo.png">
        <title>Insight</title></head>
    <body>
        <div class="content">
            {{> header_teachers }}
            <div class="main-content">
                <form id='questionsblock' action='/teachers/edittest?value={{testValue}}' method='post'>
                    <input type="text" name="testName" id = "test_name" placeholder="Test Name" required>
                    <button type = "button" id='addquestion'>Add Question</button>
                    <br><br>
                    <button type='submit'>Save Changes</button>
                </form>
            </div>
        </div>
        <script>
            let testData = {{{testData}}}
        </script>
        <script defer src="/js/buttons.js"> </script>
        <script defer src="/js/test_edit.js"> </script>
    </body>
</html>