<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
        <script rel="javascript" src="/js/reload_on_back.js"></script>
        <link rel="stylesheet" href="/css/common.css">
        <style>
            .question{
                width:600px;

             
            }
        </style>
        <title>New Test</title></head>
    <body>
        <h1 id='createtestheading'>New Test</h1>
        {{!-- <img href="../utils/img/cat.jpg" alt="close_icon"> --}}
        
        <form id='questionsblock' action='/teachers/createtest' method='post'>
        <div class='quesholder' id='quesholder1'>
            <label><input type='text' class='question' name='q1' placeholder='Enter Question 1' autocomplete='off'required></label>
            <i id='close1' class="far fa-times-circle" onclick="this.parentElement.remove(); updatequestions(0);"></i>
            <br>
            <label><input type='text' name='o11' placeholder='Enter Option 1'  autocomplete='off'required></label>
            <br>
            <label><input type='text' name='o12' placeholder='Enter Option 2' autocomplete='off' required></label>
            <br>
            <label><input type='text' name='o13' placeholder='Enter Option 3' autocomplete='off'required></label>
            <br>
            <label><input type='text' name='o14' placeholder='Enter Option 4' autocomplete='off'required></label>
            <br>
            <label><input type='text' name='c1' placeholder='Enter Answer' autocomplete='off'required></label>
            <br>
        </div>
            <button id='addquestion'>Add Question</button>
            <br><br>
            <button type='submit'>Create New Test</button>
        </form>
        
        <script rel="javascript" src="/js/test_create.js"> </script>



    </body>
</html>