<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type='text/css' href="/css/test.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="icon" href="/img/title-logo.png">
        <script>
            var perfEntries = performance.getEntriesByType("navigation");
            if (perfEntries[0].type === "back_forward") {
                window.location.href='/students/dashboard';
            }
        </script>
        <title>Insight</title>
    </head>
    <body>
        <div class="content">
            {{> header_students }} 
            <div class="main-content">
                <span id ='timer'></span>
                <form method='post' id='questions' action='/students/test'></form> 
            </div>
        </div>
        <script> 
            var ques_arr = {{{questions}}}    
        </script>
        <script defer src="/js/buttons.js"> </script>
        <script src="/js/testpage.js"></script>
    </body>
</html>