
<html>
    <head>
        <script rel='javascript/text' src='/public/js/test-create.js'> </script>
        <title>New Test</title></head>
    <body>
        <h1>New Test</h1>

        <form id='questionsblock' action='' method='post'>
            <label><input type='text' name='q1' placeholder='Enter Question' required></label>
            <br>
            <label><input type='text' name='o11' placeholder='Enter Option 1' required></label>
            <br>
            <label><input type='text' name='o12' placeholder='Enter Option 2' required></label>
            <br>
            <label><input type='text' name='o13' placeholder='Enter Option 3' required></label>
            <br>
            <label><input type='text' name='o14' placeholder='Enter Option 4' required></label>
            <br>
            <label><input type='text' name='c1' placeholder='Enter Answer' required></label>
            <br>
            <button id='addquestion'>Add Question</button>
        </form>
        



    </body>
</html>