<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type='text/css' href="/css/test.css">
        <title>Test</title>
    </head>
    <body>
        
        <span id ='timer'></span>
        <form method='post' id='questions' action='/students/test'>
           <legend class='head' >Test</legend>
        
        </form>
        
        <script> var ques_arr = {{{questions}}}
            
           </script>
        <script src="/js/testpage.js"></script>
        
    </body>
</html>