<div class="header">
    <div class="title"><h1>{{title}}</h1></div>
    <div class="always-present-buttons">
        <button class="button header-profile-link" href='/teachers/profile'>My Profile</button>
        <button href = "/teachers/dashboard" class="button">Dashboard</button>
        <button class="button header-new-test" href='/teachers/createtest'> Create New Test</button>
        <form style='display:inline' action="/teachers/logout" method='post'><button type='submit'>Logout</button></form>
        <form style='display:inline' action="/teachers/logoutAll" method='post'><button type='submit'>LogoutAll</button></form>
    </div>
</div>

