
<style>
    body{
        padding:90px 0px;
    }
    .commonHeader{
        color:white;
        background-color: #000000;
        position: fixed;
        top:0px;
        left:0px;
        
        height : 80px;
        width:100%;
        
    }
    .commonHeader img{
        max-width:70px;
        max-height:70px;
        margin:2px 10px;
    }
    .commonHeader nav{
        display:inline-block;
        float:right;
        margin:20px 50px;
    }
</style>

<div class='commonHeader'>

   <a href= '/'alt='Title-logo'><img src='/img/title-logo.png'></a>
   <nav>
       <a>About</a>
   </nav>
   
</div>
