body{
    font-family: quicksand,Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #126455, #554d70);
}

.content{
    max-width: 1020px;
    background: linear-gradient(to right, #74ebd5b9, #acb6e5f3);
    margin: auto;
    min-height: 100vh;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    padding: 0px 50px 10px 50px;
    justify-content: space-between;
}
.welcome {
    text-align: center;
    margin-top: 10px;
}
.always-present-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.always-present-buttons button{
    height: 50px;
    min-height: 40px;
    min-width: 80px;
    width: 100px;
}

.title{
    height: 50px;
    min-height: 40px;
    padding: 5px;
    margin-top: 5px;
}

.main-content{
    padding: 10px;
    width: 70%;
    flex: 1;
    margin: auto auto 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(218, 214, 214);
    
}

.face-level{
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.face-level button{
    border: none;
    cursor: pointer;
    min-width: 40%;
    padding: 10px;
    border-radius: 1.5rem;
    background: linear-gradient(to right, #8c00ff, #cc00ff);
    color: #ffffff;
    font-family: quicksand, arial;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 20px auto 20px auto;
}

.face-level button:hover{
    background: linear-gradient(to right, #7f00ff, #ff00c8);
}

.face-level input{
    border: none;
    border-radius: 0.5rem;
    width: 90%;
    height: 100%;
    margin: 10px 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: quicksand, arial;
    font-weight: semi-bold;
    font-size: larger;
}

input:active{
    background-color: rgba(255,255,255,0.2);
}

.face-level label{
    color: #ffffff;
    font-family: quicksand, arial;
    font-size: larger;
}

.face-level button:active{
    outline: none;
    border: 2px solid;
}

.face-level select{
    width: 100%;
    margin: 5px 3px;
}


a{
    text-decoration: none;
}

button {
   border:none;
   background: #d00e0e;
   font-size: 17px;
   margin:20px 10px;
   color:#ffffff;
   padding :5px 10px;
   cursor:pointer;
   border-radius:5px;
   max-width: 250px;
}
button:hover{
    background: #500e0e;
}

button a{
    color:#ffffff;
}

select{
    color:#444444;
    background:#00ffff;
    font-family:Arial, Helvetica, sans-serif;
}

input:not([type='radio']):not([type='checkbox']){
    box-sizing:border-box;
    width:250px;
    padding:5px 2px;
    margin:auto;
    border-radius:10px;
    margin:5px 0px;
    box-shadow:0 0 15px 4px rgba(255,255,255,0.2);
  }

  input:focus{
    outline:none;
    border-radius:10px;
    border:2px solid rgb(255, 47, 220);
  }
   
.clearSelection{
    background-color: #ffffff;
    color:#333333;
    height:auto;
    padding:0px 3px;

}
.clearSelection:hover{
    background-color: #cccccc;
}

