

#timer{
    
    position: fixed;
width: 500px; 
left:0;
 margin: auto; /* Will not center vertically and won't work in IE6/7.  */
text-align: center;
background-color: #888888;
right: 0;
border-radius:5px;
color:#ffffff;

}

.question{
    width:400px;
}